{% extends 'layout/base.html' %}

{% block head %}
<style>
    /* body, html {
        margin: 10 10 10 10;
        padding: 0;
        height: 90%;
    } */
    /* .fullscreen-image {
        position: fixed;
        top: 10;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('{{url_for('static', filename='images/cool-background(1).png')}}');
        background-size: cover;
        background-position: center;
    } 
	*/
	html,
body {
  margin: 10, 10, 10, 10;
  padding: 10;
  background-color: rgb(209, 211, 211);
}

.background {
  position: absolute;
  display: block;
  top: 10;
  left: 0;
  z-index: 0;
  
}
</style>
{% endblock %}

{% block body %}
<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script>window.onload = function() {
	Particles.init({
  // normal options
  selector: '.background',
  maxParticles: 50,
  connectParticles: true,
  sizeVariations: 6,
  speed: 0.4,
  minDistance: 250,
  color: "#f9f9f9"
  // options for breakpoints
//   responsive: [
//     {
//       breakpoint: 1,
//       options: {
//         maxParticles: 200,
//         color: '#48F2E3',
//         connectParticles: true
//       }
//     }, {
//       breakpoint: 4,
//       options: {
//         maxParticles: 100,
//         connectParticles: true
//       }
//     }, {
//       breakpoint: 5,
//       options: {
//         maxParticles: 0 // disables particles.js
//       }
//     }
//   ]
});
  };</script>
<!-- <div class="fullscreen-image"></div> -->
	<!-- {% if tasks|length < 1 %}
	<h4 style="text-align: center;">There are no comment. Create one below!</h4>
	{% else %}
	<table>
		<tr>
			<th>Login</th>
			<th>Comment</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{task.text}}</td>
				<td>{{task.timestamp}}</td>	
				
				
				<td>
					<a href="/delete/{{task.id}}">Delete</a>
					<br>
					<a href="/update/{{task.id}}">Update</a>
				</td>

			</tr>
		{% endfor %}
	</table>
	{% endif %}
	<form action="/" method="POST">
		<input type="text" name="conect" id="conect" value="Login">
		<input type="text" name="content" id="content">
		<input type="submit" value="ADD COMMENT">
	</form>

</div> -->
{% endblock %}