{% extends 'cabinet_client/Products/layout/base.html' %} {% block title %}Додати товар{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
	<div class="content" >
		<h1 style="text-align: center;">
			Додайте Товар
		</h1>
		<form action="{{ url_for('Products.add_product') }}" method="post">
			<textarea class="form-control bg-light" name="article" rows="1" cols="50" placeholder="* Артікул"></textarea><br>
			<div class="row">
				<div class="col-sm"><textarea class="form-control bg-light" name="product_name" rows="1" cols="50" placeholder="* Назва"></textarea><br></div>
			</div>
			<div class=" center">
				<button style="color: #626870;
				background: #beccf4;
				border-radius: 14px;
				box-shadow: 4px 4px 12px #00000010;
				width: 30%;
				"
				class="btn"  type="submit">Додати Товар</button>
			</div>
		</form>



	</div>


{% endblock %}