{% extends 'cabinet_client/Products/layout/base.html' %} 

{% block head %}

{% endblock %}

{% block body %}
	<div class="content">
		<h1 style="text-align: center;">
			Оновлення Товару {{product.article}}
		</h1>
		<form action="/cabinet/products/update/{{product.id}}" method="post">
			<div class="row">
				<div class="col-sm"><footer>
					<small class="text-muted">Артікул</small></footer>
					<input class="form-control bg-light" name="article" rows="1" cols="50" placeholder="* Назва" value="{{product.article}}"><br></div>
			</div>
			<div class="row">
				<div class="col-sm">
					<footer><small class="text-muted">Назва</small></footer>
					<input class="form-control bg-light" name="product_name" rows="1" cols="50" placeholder="* Артікул"	value="{{product.product_name}}">
					<br>
				</div>
			</div>
			<div class=" center">
				<button style="color: #626870;
				background: #beccf4;
				border-radius: 14px;
				box-shadow: 4px 4px 12px #00000010;
				width: 30%;
				"
				class="btn"  type="submit">Оновити Товар</button>
			</div>
			
		</form>



	</div>


{% endblock %}