{% extends 'cabinet_client/analitic/layout/base.html' %}


{% block title %}Прихід Товару{% endblock %}

{% block head %}
<!-- Підключення стилів Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

{% endblock %}

{% block body %}
	<div class="content"> 
		<h1 style="text-align: center;">
			Прихід Товару
		</h1>
		
			<form action="{{ url_for('Arrival.add_arrival') }}" method="post">
                <div id="product-container">
                    <div class="row">   
                        <div class="col-sm col-lg-2">                
                            <input class="form-control"
                                type="text" id="event_date" name="event_date"/>                       
                            </div>                    
                        <script>
                            flatpickr('#event_date', {
                            dateFormat: 'd-m-Y', // Формат дати
                            allowInput: true,
                            defaultDate: 'today', 
                            });
                        </script>
                      </div></br>
                    <div class="row">
                        <!-- Товар та кількість -->
                        <div class="col-sm" >
                            <input 
                                style="text-align: center;" 
                                class="form-control" 
                                id="description" 
                                name="description" 
                                min="1" 
                                placeholder="Опис" 
                                value="Товар"
                                required>
                        </div>
                					
                        <div class="col-sm">
                            <select  
                                class="form-control select-source" 
                                name="article" 
                                required>
                            </select> 
                        </div>
                        <div class="col-sm col-lg-2">
                            <input 
                            style="text-align: center;" 
                            class=" quantity form-control" 
                            id="quantity" name="quantity"  
                            min="1" max="10000" 
                            placeholder="* Кількість" 
                            required>
                        </div>
                        <div class="col-sm col-lg-2"></div>
                    </div>               
                </div>

            <div class="row">
                
                <div class="col-sm"><input type="button" class="text-button"  value="Додати товар" id="addButton"></div>
                <div class="col-sm"></div>
				<!-- <div class="col-sm"><input type="button" class="text-button"  value="Створити товар" data-bs-toggle="modal" data-bs-target="#myModal" ></div> -->
                <!-- <div class="col-sm"><a href="get_product/send_with_prom_test">Підвердити</a></div> -->
            </div></br>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поставити на прихід</button></div>
            </div>
		</form>



	</div>


    <script src="{{url_for('static', filename='javascript/select_source.js')}}"></script>
	<!-- <script type="module" src="{{url_for('static', filename='javascript/calculate.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='javascript/submitFormSelect2.js')}}"></script> -->
    <!-- <script type="module" src="{{url_for('static', filename='javascript/add_product_arrival.js')}}"></script> -->
    <script src="{{url_for('static', filename='javascript/add-input-arrival.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/modal-window.js')}}"></script>
{% endblock %}