{% extends 'cabinet_client/analitic/layout/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1 align="center">{% block header %}Ісходникі     Сумма: {{money}}{% endblock %}</h1>

  
 

<div id="arrival-list">
    <div class="table-responsive-sm" >
      <table class="table table-hover table-striped " >
        <thead>
          <tr >
            <th scope="col"></th>
            <th scope="col">Артікль</th>
            <th scope="col">Назва</th>
            <th scope="col">Ціна</th>
            <th scope="col">Кількість</th>
            <th scope="col">Гроші</th>
          </tr>
        </thead>
        <tbody >
                     {% for item in items %}
          <tr>
            <td>
              <a href="/cabinet/source/update/{{item.id}}">
                <button type="button" class="btn btn-info">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </a>
            </td>
            <td>{{item.article}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.money}}</td>            
          </tr>
      
                          {% endfor %}    
        </tbody>
        </table>
            </div>
            
          </div>  
          {% endblock %}
{% block footer %}
{% if analitic_product == none %}
<div class="text-center">
  <a href="/cabinet/products/add_product">
    <button type="button" class="btn btn-info btn-lg">
      Створити Продукт
    </button></a
  >
   <br/>
   <br/>
</div>
{% endif %}

{% endblock %}