{% extends 'cabinet_client/base.html' %} {% block title %}Додати товар{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
	<div class="content">
		<h1 style="text-align: center;">
			Оновлення Товару {{product.article}}
		</h1>
		<form action="/cabinet/products/update/{{product.id}}" method="post">
			<div class="row">
			<div class="col-sm"><input class="form-control bg-light" name="product_name" rows="1" cols="50" placeholder="* Артікул"	value="{{product.product_name}}"><br></div>
			</div>
			<div class="row">
				<div class="col-sm"><footer><small class="text-muted">Артікул</small></footer><input class="form-control bg-light" name="article" rows="1" cols="50" placeholder="* Назва" value="{{product.article}}"><br></div>
				<div class="col-sm"><footer><small class="text-muted">Опис</small></footer><input class="form-control bg-light" name="description" rows="1" cols="50" placeholder="Опис" value="{{product.description}}"><br></div>
				<div class="col-sm"><footer><small class="text-muted">Ціна</small></footer><input class="form-control bg-light" name="price" rows="1" cols="50" placeholder="Ціна" value="{{product.price}}"><br></div>
				<div class="col-sm"><footer><small class="text-muted">Кількість</small></footer><input class="form-control bg-light" name="quantity" rows="1" cols="50" placeholder="Кількість" value="{{product.quantity}}"><br></div>
				<div class="col-sm"><footer><small class="text-muted">Тіло</small></footer><input class="form-control bg-light" name="body_product_price" rows="1" cols="50" placeholder="Тіло товару" value="{{product.body_product_price}}"><br></div>
			</div>

			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Оновити Товар</button>
		</form>



	</div>


{% endblock %}