{% extends 'cabinet_client/Products/layout/base.html' %} {% block title %}Прихід Товару{% endblock %}

{% block head %}
<!-- Підключення стилів Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

{% endblock %}

{% block body %}
	<div class="content">
		<h1 style="text-align: center;">
            Додати Компонент
        </h1>
		
			<form action="/cabinet/source/update/{{item.id}}" method="post">
                <div id="product-container">
                    <div class="row">   
                        <div class="col-sm col-lg-2">
                            <!-- Include input field with id so 
                                that we can use it in JavaScript 
                                to set attributes.-->
                            <input class="form-control" 
                                type="text" id="event_date" name="event_date"/>                       
                        </div>
                    
                        <script>
                            flatpickr('#event_date', {
                            dateFormat: 'd-m-Y', // Формат дати
                            allowInput: true,
                            defaultDate: 'today', 
                            });
                        </script>
                      
        
                        <!-- Товар та кількість -->
                        <div class="col-sm col-lg-2">
                            <input 
                            placeholder="Артікул" 
                            class="form-control" 
                            style="text-align: center;" 
                            id="article" 
                            name="article" 
                            value="{{item.article}}"                   
                            > 
                        </div>
                            <br>
                        <div class="col-sm col-lg-2">
                            <input 
                                placeholder="Назва" 
                                class="form-control  " 
                                style="text-align: center;" 
                                id="name" 
                                name="name"
                                value="{{item.name}}"
                                > 
                                <br>
                        </div>
                        <div class="col-sm col-lg-2">
                            <input 
                                placeholder="Ціна" 
                                class="form-control" 
                                style="text-align: center;" 
                                id="price" 
                                name="price"    
                                value="{{item.price}}"                
                                > 
                                <br>
                        </div>
                        <div class="col-sm col-lg-2">
                            <input style="text-align: center;"
                             class="quantity form-control" 
                            id="quantity" name="quantity"  min="1" max="10000" 
                            placeholder="* Кількість" required
                            value="{{item.quantity}}"><br>
                        </div>
                        
                    </div>                
                </div></br>

            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><input type="button" class="text-button"  value="Додати Компонент" id="addButton"></div>
				<div class="col-sm"><input type="button" class="text-button"  value="Створити товар" data-bs-toggle="modal" data-bs-target="#myModal" ></div>
                <!-- <div class="col-sm"><a href="get_product/send_with_prom_test">Підвердити</a></div> -->
            </div><br>

			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Додати</button>
		</form>



	</div>

	<script type="module" src="{{url_for('static', filename='javascript/calculate.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-select2.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/submitFormSelect2.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='javascript/add_product_arrival.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/modal-window.js')}}"></script>
{% endblock %}