{% extends 'layout/base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<head><title>Середовище</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/update_order.css') }}">
  
</head>


<div class="content">
</br>
    <div class="row d-flex justify-content-center">
      <h3>Яке середовище Вам потрібно?</h3>
    </div>     
    <div class="row">
      <div class="col-sm ">
        <a href="/cabinet/workspace/payment_method">
        <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
            type="button">
            Методи оплат
        </button>
        </a>
      </div>
        <div class="col-sm ">
          <a href="/cabinet/workspace/delivery_method">
            <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
                type="button">
                Методи доставки
            </button>
            </a>
        </div>
        <div class="col-sm ">
          <a href="/cabinet/workspace/sources_order">
            <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
                type="button">
                E-front
            </button>
            </a>
        </div>
        <div class="col-sm ">
          <a href="/cabinet/store/">
            <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
                type="button">
                Store
            </button>
            </a>
        </div>
      </div>
    </div>    

    <div class="row d-flex justify-content-center">
      <div class="row">
        <div class="col-sm">
          <a href="/crm">
            <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
                type="button">
                Власник
            </button>
            </a>
        </div>
        <div class="col-sm">
          <a href="/manager">
            <button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
                type="button">
                Менеджер
            </button>
            </a>
        </div>
      </div>  
    </div>   


<script src="{{url_for('static', filename='javascript/selection-space.js')}}"></script>






{% endblock %}