{% extends 'cabinet_client/product_v2/layout/base.html' %}


{% block title %}Прихід Товару{% endblock %}

{% block head %}
<!-- Підключення стилів Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_order.css') }}">

{% endblock %}

{% block body %}
	<div class="content"> 
		<h1 style="text-align: center;">
			Робота с Балансом
		</h1>
		
			<form 
                action="{{ url_for('balance.income') }}" 
                method="post"
                style="margin-bottom: 200px;"
            >
                <div id="product-container">
                    <div class="row">   
                        <div style="width: 30%;" class="individ">    
                            <div class="center">            
                                <input class="form-control"
                                    type="text" id="event_date" name="event_date"/>    
                                </div>                    
                            </div>                   
                        <script>
                            flatpickr('#event_date', {
                            dateFormat: 'd-m-Y', // Формат дати
                            allowInput: true,
                            defaultDate: 'today', 
                            });
                        </script>
                      </div></br>
                    <div class="row">
                        <!-- Товар та кількість -->
                        <div class="col-sm individ" >
                            <input 
                                style="text-align: center;" 
                                class="form-control" 
                                id="description" 
                                name="description" 
                                min="1" 
                                placeholder="Опис" 
                                value="Прихід"
                                required>
                        </div>
                					
                        <div class="col-sm col-lg-2 individ">
                             <input 
                                type="number" 
                                style="text-align: center;" 
                                class="form-control"
                                name="sum" 
                                value=""
                                placeholder="Сума"
                                required>
                        </div>
                        <div class="col-sm col-lg-2"></div>
                    </div>               
                </div>

            <div class="row">
                
                <div class="col-sm"></div>
                <div class="col-sm" style="text-align: center;">
                    <input type="button" class="text-button"  value="Додати товар" id="addButton">
                </div>
				<!-- <div class="col-sm"><input type="button" class="text-button"  value="Створити товар" data-bs-toggle="modal" data-bs-target="#myModal" ></div> -->
                <!-- <div class="col-sm"><a href="get_product/send_with_prom_test">Підвердити</a></div> -->
            </div></br>
            <div class="row" >
                <div class="col-sm">
                    <div class="center">
                        <button class="button button--primary button--large">
                            Провести
                        </button>
                    <div>
                </div>
            </div>
		</form>



	</div>


    <script src="{{url_for('static', filename='javascript/select-balance.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-input-arrival.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/modal-window.js')}}"></script>
{% endblock %}