{% extends 'layout/base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<title>Edit Item</title>

<form action="{{ url_for('balance.delete', item_id=item.id) }}"
                        method="post" style="display:inline;">
                    <button type="submit">Delete</button>
</form>     
<h1>Edit Item</h1>
<div class="center">
  <form method="post">
  <label>Name:</label>
  <input type="number" name="balance" value="{{ item.balance | replace('.', ',') }}" required><br>
  <label>Wait:</label>
  <input type="number" name="wait" value="{{ item.wait | replace('.', ',')}}" required><br>
  <label>Stock:</label>
  <input type="number" name="stock" value="{{ item.stock | replace(',', '.') }}" required><br>
  <label>В роботі:</label>
  <input type="number" name="inwork" value="{{ item.inwork | replace(',', '.') }}"  required><br>
  
  <button type="submit">Update</button>
</form>


<br>
<a href="{{ url_for('balance.index') }}">Back to list</a>
</div>

{% endblock %}
