{% extends 'cabinet_client/analitic/layout/base.html' %} 



{% block body %}
<head>
  <title>Журнал</title>
</head>

<h1 align="center">{% block header %}Журнал{{money}}{% endblock %}</h1>

  
 

<div id="arrival-list">
    <div class="table-responsive-sm" >
      <table class="table table-hover table-striped " >
        <thead>
          <tr >
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Час дії</th>
            <th scope="col">Дата приходу</th>
            <th scope="col">Действие</th>
            <th scope="col">Артікль</th>
            <th scope="col">Кількість</th>
            <th scope="col">Тіло</th>
            <th scope="col">Залишок</th>
          </tr>
        </thead>
        <tbody >
                     {% for item in items %}
          <tr>
            <td></td>
            <td>
              <a href="/cabinet/products/update_product_source/{{item.id}}">
                <button type="button" class="btn btn-info">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </a>
            </td>
            {% if item.timestamp %}
            <td>{{item.timestamp.strftime("%d-%m-%Y %H:%M")}}</td>
            {% else %}
            <td>Немає</td>
            {% endif %}
            {% if item.event_date %}
            <td>{{item.event_date.strftime("%d-%m-%Y")}}</td>
            {% else %}
            <td>Немає</td>
            {% endif %}
            <td>{{item.status}}</td>
            <td>{{item.product.article}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.body}}</td>
            <td>{{item.quantity_stock}}</td>             
          </tr>
      
                          {% endfor %}    
        </tbody>
        </table>
            </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                  {{ pagination.links }}
              </ul>
            </nav>
            
          </div>  
          {% endblock %}
{% block footer %}
{% if analitic_product == none %}
<div class="text-center">
  <a href="/cabinet/products/add_product">
    <button type="button" class="btn btn-info btn-lg">
      Створити Продукт
    </button></a
  >
   <br/>
   <br/>
</div>
{% endif %}

{% endblock %}