{% extends 'cabinet_client/analitic/layout/base.html' %} {% block title %}Home{% endblock %}

{% block body %}

<h1 align="center">{% block header %}Аналітика Товаров{% endblock %}</h1>
<div id="products">
  {% for item_product_analitic in all_product_analitic %}
  <div class="content">
    <div class="card-header d-flex justify-content-between align-items-center">

      <a href="/cabinet/products/update/{{item_product_analitic.product_id}}">{{item_product_analitic.id}}</a>


      </div>
    
    <div class="card-body">
      <div class="row">
        <div class="col">{{item_product_analitic.products.article}}<footer><small class="text-muted">Артикул</small></footer></div>
        <div class="col">{{item_product_analitic.products.product_name}}<footer><small class="text-muted">Назва</small></footer></div>
        <div class="col">{{item_product_analitic.products.quantity}}<footer><small class="text-muted">Кількість</small></footer></div>
        <div class="col">{{item_product_analitic.money_in_product}}<footer><small class="text-muted">В товарі</small></footer></div>
        <div class="col">{{item_product_analitic.quantity_sale}}<footer><small class="text-muted">Кількість продажів</small></footer></div>
        <div class="col">{{item_product_analitic.money_in_sale}}<footer><small class="text-muted">Сумма продажів</small></footer></div>
        <div class="col">{{item_product_analitic.products.body_product_price}}<footer><small class="text-muted">Тіло</small></footer></div>



        
      </div>

      <div class="collapse" id="comments-{{item_product_analitic.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{item_product_analitic.id}}">
          
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <br>
</div>
{% endfor %}
{% block footer %}
{% if analitic_product == none %}
<div class="text-center">
  <a href="/cabinet/products/add_product">
    <button type="button" class="btn btn-info btn-lg">
      Створити Продукт
    </button></a
  >
   <br/>
   <br/>
</div>
{% endif %}

{% endblock %} {% endblock %}
