{% extends 'cabinet_client/analitic/layout/base.html' %} {% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<script src="{{url_for('static', filename='javascript/select_source.js')}}"></script>
<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.js"></script>
<head>
  <title>Різниця Товару</title>
</head>
{% endblock %} 
{% block body %}

<div class="button-container">
						
  <nav class="nav">
    <div class="button-pult">
      <div id="q" class="">
        
      </div>
    </div>
    <div class="button-pult">
      <a href="/cabinet/analitic/update_day">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Оновити день
        </button>
      </a>
    </div>
    <div class="button-pult">
      <a href="/cabinet/analitic/update_week">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Оновити Week
        </button>
      </a>
    </div>
    <div class="button-pult">
      <a href="/cabinet/analitic/update_month">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Оновити Month
        </button>
      </a>
    </div>
    <div class="button-pult">
      <a href="/cabinet/analitic/update_year">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Оновити Year
        </button>
      </a>
    </div>
    <div class="button-pult">
      <a href="/cabinet/analitic/update_all">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Оновити ALL
        </button>
      </a>
    </div>
    
  </nav>
</div>



<h1 style="text-align: center;">
  Різниця Товару 
</h1>

<div class="content">
<!-- <div id="arrival-list">
    <div class="table-responsive-sm" > -->
      <table id="editableTable" class="table table-hover table-striped ">
        <thead>
          <tr >
            <!-- <th scope="col"></th> -->
            <th style="text-align: center;" scope="col">Артікул</th>
            <th></th>
            <th style="text-align: center;" scope="col">Дата</th>
            <th style="text-align: center;" scope="col">Кількість в срм</th>
            <th style="text-align: center;" scope="col">Кількість на складі</th>
            <th style="text-align: center;" scope="col">Різниця</th>
            <th style="text-align: center;" scope="col">Рух</th>
            <th style="text-align: center;" scope="col">Коментар</th>

          </tr>
        </thead>
        <tbody >
          {% for item in product %}
          <tr data-id="{{item.id}}">
            <!-- <td></td> -->
            <td style="text-align: center; font-weight: bold;">{{item.product_source.article}}</td>
            <td contenteditable="false">
              <a href="/cabinet/source_difference/update/{{item.id}}">
                <button type="button" class="btn btn-info">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </a>
            </td>
            <td style="text-align: center;" >{{item.event_date.strftime('%d-%m-%Y')}}</td>
            <td contenteditable="true" style="text-align: center;">{{item.quantity_crm}}</td>
            <td contenteditable="true"><input style="text-align: center;" class="quantity form-control" 
              id="difference" name="difference"  min="1" max="10000" 
              placeholder="* різниця" value="{{item.quantity_stock}}">
            </td>
            <td style="text-align: center;" >{{item.difference}}</td>
            <td style="text-align: center;" >{{item.sold}}</td>
            <td contenteditable="false">{{item.comment}}</td>
           


          </tr>
      
                              
          {% endfor %}
        </tbody>
        </table>
            
            
  <!-- </div>
</div>           -->
          <div class="col-sm">
            <div class="button-pult">
            <button id="saveBtn" type="button" class="btn btn-outline-info my-2 my-sm-0">Зберегти редагування таблиці</button>
            </div>
              </div>


          <br/>
          <br/>
          <div class="content">
            
            <form id="load_event_day" action="/cabinet/source_difference/load_event_day" method="post">
              <div class="row">
              <div class="col-sm col-lg-2">  
                <input class="form-control"
                                      type="text" id="event_date" name="event_date_start">                       
                                  </div>     
                                  <div class="col-sm col-lg-2">  
                <input class="form-control"
                                      type="text" id="event_date" name="event_date_stop">                       
                                  </div>      
                                        
                                  <div class="col-sm"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Завантажити</button></div>
                              <script>
                                  flatpickr('#event_date', {
                                  dateFormat: 'd-m-Y', // Формат дати
                                  allowInput: true,
                                  defaultDate: 'today', 
                                  });
                              </script>
                              </div>    
              
            </form>
          
          
          </div>
          <div class="content">
            <h1 style="text-align: center;">
                    Додати Підрахунок
                </h1>
  <form id="myForm" action="{{ url_for('SourceDifference.source_difference') }}" method="post">
    <div class="row">
      <div class="col-sm col-lg-2">                
        <input class="form-control"
            type="text" id="event_date" name="event_date"/>                       
        </div>                    
    <script>
        flatpickr('#event_date', {
        dateFormat: 'd-m-Y', // Формат дати
        allowInput: true,
        defaultDate: 'today', 
        });
    </script>
  
      <div class="col-sm col-lg-2">
        <select  class="form-control select-source" 
        name="source_id" 
        required>
    </select><br>
    
</div>
<div class="col-sm col-lg-2">
  <input style="text-align: center;" class="quantity form-control" 
  id="quantity_crm" name="quantity_crm"  min="1" max="10000" 
  placeholder="* Кількість срм" required><br>
</div>
<div class="col-sm col-lg-2">
  <input style="text-align: center;" class="quantity form-control" 
  id="quantity_stock" name="quantity_stock"  min="1" max="10000" 
  placeholder="* Кількість склад" required><br>
</div>     
<div class="col-sm col-lg-2">
  <input style="text-align: center;" class="quantity form-control" 
  id="difference" name="difference"  min="1" max="10000" 
  placeholder="* різниця" required><br>
</div>  
    </div>
   <br/>
   <br/>
</div>

<div class="row">
  <div class="col-sm"></div>
  
  <div class="col-sm"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Додати</button></div>
</div>
</form>
</div>
<div class="content">
<div class="row">

  <div class="col-sm">
<div class="button-pult">
  <a href="/cabinet/source_difference/update_day">
    <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
      Порахувати різницю
    </button>
  </a>
</div>
  </div>

  <div class="col-sm">
<div class="button-pult">
  <a href="/cabinet/source_difference/update_sold">
    <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
      Порахувати продані
    </button>
  </a>
</div>
  </div>
  <div class="col-sm">
    <div class="button-pult">
      <a href="/cabinet/source_difference/add_day">
        <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
          Додати день
        </button>
      </a>
    </div>
      </div>

      <div class="col-sm">
        <div class="button-pult">
          <a href="/cabinet/source_difference/add_day">
            <button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
              Тестова кнопка
            </button>
          </a>
        </div>
          </div>

</div>

  

    <div class="row">
    <h6>Delete</h6>
      <form action="/cabinet/source_difference/delete_event_day" method="post">
        <div class="col-sm">
          <input class="form-control"
                                type="text" id="event_date" name="event_date_start"/>                       
                            </div>     
        <div class="col-sm">
          <input class="form-control"
                                type="text" id="event_date" name="event_date_stop"/>                       
                            </div>                  
                            <div class="col-sm"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Видалити</button></div>
                            <script>
                              flatpickr('#event_date', {
                              dateFormat: 'd-m-Y', // Формат дати
                              allowInput: true,
                              defaultDate: 'today', 
                              });
                          </script>
        
      </form>
    
    </div>
</div>

<br><br><br>

<!-- Підключаємо DataTables -->
<script src="{{url_for('static', filename='javascript/editableTableSourceDiff.js')}}"></script>






{% endblock %}

