{% extends 'cabinet_client/analitic/layout/base.html' %} {% block title %}Прихід Товару{% endblock %}

{% block head %}
<!-- Підключення стилів Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<head>
    <title>Редагування строкі {{line[0]}}</title>
  </head>
{% endblock %}

{% block body %}
	<div class="content">
		<h1 style="text-align: center;">
            Змінити Строку наявності {{line.product_source.name}} {{product[0].product_source.article}}
        </h1>
            <nav class="nav">
            
                <div class="button-pult">
                    <button type="button" onclick="confirmDelete({{line.id}}, '/cabinet/source_difference/delete/')" 
                        class="btn btn-outline-info my-2 my-sm-0">
                            Видалити ці дані
                    </button>
                </div>
            </nav><br> 
		
			<form action="/cabinet/source_difference/update/{{line.id}}" method="post">
                <div id="product-container">
                    <div class="row">   
                        <div class="col-sm col-lg-2">
                            <!-- Include input field with id so 
                                that we can use it in JavaScript 
                                to set attributes.-->
                            <input class="form-control" 
                                type="text" id="event_date" name="event_date" value="{{line.event_date}}"/>                       
                        </div>
                    
                        <script>
                            flatpickr('#event_date', {
                            dateFormat: 'd-m-Y', // Формат дати
                            allowInput: true,
                            defaultDate: 'today', 
                            });
                        </script>
                      
        
                        <!-- Товар та кількість -->
                        <div class="col-sm col-lg-2">
                            <input style="text-align: center;" class="quantity form-control" 
                            id="quantity_crm" name="quantity_crm"  min="1" max="10000" 
                            placeholder="* Кількість срм" value="{{line.quantity_crm}}" required><br>
                          </div>
                          <div class="col-sm col-lg-2">
                            <input style="text-align: center;" class="quantity form-control" 
                            id="quantity_stock" name="quantity_stock"  min="1" max="10000" 
                            placeholder="* Кількість склад" value="{{line.quantity_stock}}" required><br>
                          </div>     
                          <div class="col-sm col-lg-2">
                            <input style="text-align: center;" class="quantity form-control" 
                            id="difference" name="difference"  min="1" max="10000" 
                            placeholder="* різниця" value="{{line.difference}}" required><br>
                          </div>    
                          <input style="display: none;" class="quantity form-control" 
                          id="source_id" name="source_id"  min="1" max="10000" 
                          value="{{line.source_id}}" required>

                                
                </div></br>

            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><input type="button" class="text-button"  value="Додати Компонент" id="addButton"></div>
				<div class="col-sm"><input type="button" class="text-button"  value="Створити товар" data-bs-toggle="modal" data-bs-target="#myModal" ></div>
                <!-- <div class="col-sm"><a href="get_product/send_with_prom_test">Підвердити</a></div> -->
            </div><br>

			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Зберігти</button>
		</form>



	</div>

	<script type="module" src="{{url_for('static', filename='javascript/calculate.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-select2.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/confirmDelete.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/submitFormSelect2.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='javascript/add_product_arrival.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/modal-window.js')}}"></script>
{% endblock %}