{% extends 'cabinet_client/base.html' %}

{% block body %}

	<div class="content">
		<!-- <button type="button" class="btn btn-info" id="liveToastBtn">Show first toast</button>
		<button type="button" class="btn btn-info" id="trigerToastLite">Show live toast</button> -->
		
		
		
		
		<form 
		id="myForm" 
		action="{{ url_for('Order.add_order') }}" 
		method="post"
		style="margin-bottom: 200px;"
		>
		<h1 style="text-align: center; color: #7d7f85;">Додайте Замовлення</h1>
		<div class="center">
			<small class="text-muted">Джерело:</small></footer>
			<div 
				class="editable" 
				data-id="1">{{ 'Необрано' }}
			</div>
			<select class="d-none select2" data-id="1" name="store_id"></select>
		</div>
		<br>
		<input type="hidden" name="source_order_id" value="1">
		<input type="hidden" name="order_status_id" value="10">
		<input type="hidden" name="author_id" value="{{ user.id }}">
		<input type="hidden" name="description_delivery" value="Замовлення Jemis">
		
		

		<div class="row">
				<div class="col-sm"><input type="tel" class="form-control" name="costumer_phone" rows="1" cols="50" pattern="[0-9]{12}" style="text-align: center;" placeholder="*Номер телефону 380909009000" required><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;" id="client_lastname" name="costumer_lastname" rows="1" cols="50" placeholder="* Призвіще" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;"  id="client_firstname"  name="costumer_firstname" rows="1" cols="50" placeholder="* Ім'я" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;" name="costumer_secondname" rows="1" cols="50" placeholder="Побатькові(необов.)"><br></div>
			</div>
			<div class="row">
				<div class="col-sm"><input type="tel" class="form-control" name="recipient_phone" rows="1" cols="50" pattern="[0-9]{12}" style="text-align: center;" placeholder="*Номер телефону 380909009000" required><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;"  name="recipient_lastname" rows="1" cols="50" placeholder="* Призвіще" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;"  name="recipient_firstname" rows="1" cols="50" placeholder="* Ім'я" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control  " style="text-align: center;" name="recipient_secondname" rows="1" cols="50" placeholder="Побатькові(необов.)"><br></div>
			</div>
			<div class="row"> 
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="1" name="delivery_method" value="1"/><label for="1" class="form-check-label" required> Нова Пошта</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="2" name="delivery_method" value="2"/><label for="2" class="form-check-label" required> Розетка</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="3" name="delivery_method" value="3"/><label for="3" class="form-check-label" required> Укрпошта</label></div>
				<div class="col-sm"><input type="radio" class="form-check-input text-radio" id="5" name="delivery_method" value="5"/><label for="5" class="form-check-label" required> Шопзаказ</label></div>				                    
			</div> 
			<div class="row grey-background">
  				<legend></legend>
                <div class="col-sm"><input class="form-check-input text-radio" type="radio" id="warehouse" name="warehouse_option" value="warehouse" onclick="toggleField()" /><label for="warehouse" class="form-check-label"> Відділення</label></div>
                <div class="col-sm"><input type="radio" id="poshtomat" class="form-check-input text-radio" name="warehouse_option" value="poshtomat" onclick="toggleField()" /><label for="poshtomat" class="form-check-label"> Поштомат</label></div>
                <div class="col-sm"><input type="radio" id="address" class="form-check-input text-radio" name="warehouse_option" value="address" onclick="toggleField()" /><label for="address" class="form-check-label"> Адреса</label></div>
			</div>
			<div class="row "> {# selectArea address **************************** #}
  				<legend></legend>
				<div class="col-sm" ><select id="citySelect" class=" " name="city" required></select></div>
				<div id="hiddenFieldWar" style="display:block;" class="col-sm"><select id="warhousSelect" class="form-control  " name="warehouse" rows="1" cols="50" placeholder="Відділення"></select></div>
				<div id="hiddenFieldPost" style="display:none;" class="col-sm"><select id="postSelect" class="form-control  " name="warehouse" rows="1" cols="50" placeholder="Поштомат"></select></div>
				<div id="hiddenFieldAdr" style="display:none;" class="col-sm"><textarea id="addressText" class="form-control  " name="warehouse" rows="1" cols="50" placeholder="* Адреса"></textarea></div>
			</div>
			<div class="row">
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="nalogka" name="payment_option" value="1" onclick="togglePaybefore()"/><label for="nalogka" class="form-check-label" required> Післяплата</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="card_pay" name="payment_option" value="2" onclick="togglePaybefore()"/><label for="card_pay" class="form-check-label" required> Оплата на рахунок</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="peredpalata" name="payment_option" value="3" onclick="togglePaybefore()"/><label for="peredpalata" id="labelPayBe" class="form-check-label" required> Передплата</label></div>
				<div class="col-sm">
					<input 
						type="radio" 
						class="form-check-input text-radio" 
						id="prom_oplata" 
						name="payment_option" 
						value="5" 
						onclick="togglePaybefore()"/>
						<label 
							for="prom_oplata" 
							id="labelPayBe" 
							class="form-check-label" 
							required> ПромОплата
						</label>			
				</div>
				<div class="col-sm">
					<input 
						type="radio" 
						class="form-check-input text-radio" 
						id="rozetka_pay" 
						name="payment_option" 
						value="6" 
						onclick="togglePaybefore()"/>
						<label 
							for="rozetka_pay" 
							id="labelPayBe" 
							class="form-check-label" 
							required> RozetkaPay
						</label>			
				</div>
				<div class="col-sm">
					<input 
						type="radio" 
						class="form-check-input text-radio" 
						id="olx" 
						name="payment_option" 
						value="7" 
						onclick="togglePaybefore()"/>
						<label 
							for="olx" 
							id="labelPayBe" 
							class="form-check-label" 
							required> OLX
						</label>			
				</div>
				<div class="col-sm">
					<input 
						type="radio" 
						class="form-check-input text-radio" 
						id="another" 
						name="payment_option" 
						value="8" 
						onclick="togglePaybefore()"/>
						<label 
							for="another" 
							id="labelPayBe" 
							class="form-check-label" 
							required> Інше
						</label>			
				</div>

				<div id="hiddenFieldPay" style="display:none;" class="col"><input type="number" style="text-align: center;" class="form-control" id="sum_before_goods" name="sum_before_goods" min="1" placeholder="Сумма" value=""><br></div>                      
			</div>
			<div id="ProductOldItem" class="grey-background">
				<div class="row" id="product-container" style="width: 100%">
            
					<div class="col-sm-3 col-lg-4 button-pult"><select class="form-control product-select" name="product_id"></select></div>
					<div class="col-sm col-lg-2 button-pult"><input type="number" style="text-align: center;" class="quantity form-control" id="quantity" name="quantity"  min="1" max="10000" placeholder="* Кількість" required></div>
					<div class="col-sm col-lg-2 button-pult"><input type="number" style="text-align: center;" class="price form-control" id="price" name="price" min="1" placeholder="Ціна" required></div>
					<input type="number" style="text-align: center; display: none;" class="total form-control" id="sum_price" name="sum_price" min="1" placeholder="Сумма" required>
			</div>
			</div>
			<div class="row">							
				<div class="center" style="width: 60%;">
						<input type="number" 
							style="text-align: center;" 
							class="totalall form-control" 
							id="total-all" 
							name="total-all" 
							min="1" 
							placeholder="Сумма" 
							required>
							<br>
					</div>
			</div>
			
            <div class="row">
				<div class="col-sm">					
				</div>
				<div class="col-sm">
					<!-- <input 
						type="button" 
						class="text-button"  
						value="Додати товар" 
						id="addButton"
						onclick="addProduct()"> -->
					<button 
						type="button"
						id="addButton"
						class="btn btn-outline-info my-2 my-sm-0"   
						onclick="addProduct()">
						Додати товар
					</button>
				</div>
				<div class="col-sm">
					<button 
						type="button"
						class="btn btn-outline-info my-2 my-sm-0"   
						data-bs-toggle="modal" 
						data-bs-target="#createProduct">
						Створити товар
					</button>
				</div>
				<div class="col-sm">					
				</div>
			</div>


			<div class="row"><div class="col-sm"><textarea style="text-align: center;" class="  form-control" name="description" rows="3" cols="50" placeholder="Нотатки"></textarea><br></div></div>
			<button class="btn btn-outline-info my-2 my-sm-0" onclick="submitForm()" type="submit">Зберегти Замовлення</button>
			
		</form>


<!-- My Modal Add product -->
{% include 'cabinet_client/Products/create_product_modal.html' %}


</div>
<script src="{{url_for('static', filename='javascript/update_order/store-select.js')}}"></script>
<script src="{{url_for('static', filename='javascript/changeProductOldItem.js')}}"></script>
<script src="{{url_for('static', filename='javascript/product/create_product.js')}}"></script>
<script src="{{url_for('static', filename='javascript/add-select2.js')}}"></script>
<script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script>
<script src="{{url_for('static', filename='javascript/submitFormSelect2.js')}}"></script>
<script src="{{url_for('static', filename='javascript/newCalculateTotal.js')}}"></script>
<script src="{{url_for('static', filename='javascript/add-button-product.js')}}"></script>
<script src="{{url_for('static', filename='javascript/update_order/delete_product.js')}}"></script>


{% endblock %}		
