

<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="{{url_for('static', filename='javascript/button-theme.js')}}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!-- Підключення bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<!--  -->	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<!-- fontawesome -->
	<script src="https://kit.fontawesome.com/11ef98fb6c.js" crossorigin="anonymous"></script>
	<!-- main.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	
	

	


{% block head %}{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-body-tertiary " >
			<div class="container-fluid">
				<a class="navbar-brand" style="margin-left: 30px;" href="/">ASX</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
						<li><a class="nav-link" href="/cabinet/products">
							Товари</a></li>
						<li><a class="nav-link" href="/cabinet/orders">
							Замовлення</a></li>
							{% if 1 == user.id %} 
							<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"">
							Меню
						</a>										
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/analitic/all">
									Кабінет Керівника</a></li>
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/analitic/all">
									Аналітика</a></li>
								<!-- <li><hr class="dropdown-divider"></li> -->
								<li><a class="dropdown-item" style="text-align: center;"  href="/cabinet/products/add_arrival">
									Додати Прихід</a></li>											
								<!-- <li><a class="dropdown-item" style="text-align: center;" href="/cabinet/products/arrival_list">
									Облік Приходу</a></li> -->
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/products/add_product_relate">
									Додати Компонент</a>
								</li>
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/source/add">
									Додати Исходник</a>
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/products/product_relate">
									Компоненти</a>
								</li>
								</li>
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/source/all">
									Исходникі</a>
								</li>
								<li><a class="dropdown-item" style="text-align: center;" href="/cabinet/journal/all">
									Журнал</a>
								</li>
							</ul>
							</li>
							{% endif %}
							{% if user.is_authenticated %}
							<li class="nav-item active">
								<div class="col-sm" >
									<select id="search-select2" class="col-sm" name="search" required>
										<!-- ПОШУК SELECT -->
									</select></div></li>

							{% endif %}											
					</ul>
						<div class="float-right">
							
							<ul class="navbar-nav mr-auto">
							
								<li>
							    <!-- <label class="switch">
									<input type="checkbox" id="themeSwitch">
									<span class="slider"></span>
								</label> -->
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
									<!-- <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label> -->
								  </div>
								  
							</li>
							{% if user.is_authenticated %}
							

							<li class="nav-item active">
									<a href="/cabinet/orders/add_order">
										<button type="button" class="btn btn-info btn-lg">
														Створити Замовлення
										</button>
									</a>
							</li>
							<li class="nav-item active">
							<a class="nav-item nav-link" href="/logout">Вийти {{ user.username }}</a>
							</li>
							</ul>
							{% else %}
							<li class="nav-item active">
							<a class=" nav-link" href="/login">Увійти</a>
							</li>
							<li class="nav-item active">
							<a class=" nav-link" href="/sign-up"><Sing></Sing>Реєстрація</a>
							</li>

									{% endif %}
							</div>
							
							
						</div>
					</div>
				</nav>

					<div class="button-container">
						
						<nav class="nav">
							<div class="button-pult">
								<div id="q" class="">
									<select id="mySelect32" onchange="redirectToSelectedPage()" class="form-select btn my-2 my-sm-0"  
										style=" color: #0dcaf0; border: var(--bs-border-width) solid #0dcaf0;"
										aria-label="Change status" >
										<option selected>Фільтр</option>
										<option value="/cabinet/orders/filter/registered/1" >На Підвердженя</option>
										<option value="/cabinet/order_draft">Підтвержені НП</option>
										<option value="/cabinet/orders/filter/registered">В реєстрі</option>
										<option value="/cabinet/orders/filter/registered/3">Оплачені</option> 
										<option value="/cabinet/orders/filter/registered/4">Несплачені</option>
										<option value="/cabinet/orders/filter/registered/5">Скасовані</option>
										<option value="/cabinet/orders/filter/registered/6">Предзамовленні</option>
										<option value="/cabinet/orders/filter/registered/7">Питання</option>
										<option value="/cabinet/orders/filter/registered/8">Відправлені</option>
										<option value="/cabinet/orders/filter/registered/9">Отримані</option>
										<option value="/cabinet/orders/filter/registered/10">Нові</option>
										<option value="/cabinet/orders/filter/registered/11">Очікує відправленя</option>
										<option value="/cabinet/orders/filter/registered/12">Виконано</option>
										<option value="/cabinet/orders/filter/registered/13">Тест</option>
										<option value="/cabinet/orders/filter/registered/14">Тест</option>
									</select>
								</div>
							</div>
							<div class="button-pult">
								<div id="add_reg" style="display: none;"><button 
									class="btn btn-outline-info my-2 my-sm-0"   
									onclick="processOrders('add_reg')" >
									Додати в реєстр
								</button></div>
							</div>
							<div class="button-pult">
								<div id="del_reg" style="display: none;">
									<button 
										class="btn btn-outline-info my-2 my-sm-0"  
										onclick="processOrders('del_reg')" >
										Видалити з реєстру
									</button>
								</div>
							</div>
							<div class="button-pult">
								<div id="changeStatusSee"  style="display: none; ">
									<select id="changeStatus"  class="form-select btn my-2 my-sm-0"  
										style=" color: #0dcaf0; border: var(--bs-border-width) solid #0dcaf0;"
										aria-label="Change status" >
										<option selected>Зміна статусу</option>
										<option value="1">Підтвердити</option>
										<option value="2">Підтвержено</option>
										<option value="3">Оплачено</option> 
										<option value="4">Несплачено</option>
										<option value="5">Скасовано</option>
										<option value="6">Предзамовлення</option>
										<option value="7">Питання</option>
										<option value="8">Відправлено</option>
										<option value="9">Отримано</option>
										<option value="10">Нове</option>
										<option value="11">Очікує відправленя</option>
										<option value="12">Виконано</option>
										<option value="13">Тест</option>
									</select>
								</div>
							</div>
						</nav>
					</div>
						<!-- </div>
							<div class="col-sm"> -->
							<!-- </div>
						</div>
						</div>
					</div> -->
				<!-- </div> -->
				<script>
					
					function redirectToSelectedPage() {
						// Отримати вибране значення селекту (URL)
						var selectedUrl = document.getElementById("mySelect32").value;
						
						// Перенаправити на обраний URL
						window.location.href = selectedUrl;
					}
				</script>
				

			</header>
		{% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %} {% for category, message in messages %} {% if category ==
			'error' %}
			<div class="alert alert-danger alter-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% else %}
			<div class="alert alert-success alter-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endif %} {% endfor %} {% endif %} {% endwith %}
{% block body %}

{% endblock %} 

<script src="{{url_for('static', filename='javascript/animated-test.js')}}"></script>
<script src="{{url_for('static', filename='javascript/search-select2.js')}}"></script>
<!-- <script src="{{url_for('static', filename='javascript/checkboxAll.js')}}"></script> -->
<script src="{{url_for('static', filename='javascript/button_registr.js')}}"></script>
<script src="{{url_for('static', filename='javascript/changeStatus.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit.min.js" integrity="sha256-IdUsTC8QxXGINPUVxcbHAIfmCBpTGq9zqKmnDUNMuK4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/css/uikit.min.css" integrity="sha256-fBLKFnO/BTwalJts1kv18aCsPopD4rxou6DSgfjrGd4=" crossorigin="anonymous">

</body>
<div aria-live="polite" aria-atomic="true" class="position-relative">
	<div class="toast-container position-fixed top-0 end-0 start-50 translate-middle-x p-3 align-items-center">

		<div id="liveToast" class="toast align-items-center text-bg-info border-2" role="alert" aria-live="assertive" aria-atomic="true">
			<div id="toastNotificationMessageLite" class="toast-body">
				<div id="toastNotificationMessage"><p id="textToCopy">liveTost</p></div>
				<div class="mt-2 pt-2 border-top">
				<button id="buttonTextToast" type="button" class="btn btn-info btn-sm " ></button>
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Сховати</button>
				</div>
			</div>
		</div> 
		<div id="toastLite" class="toast align-items-center text-bg-info border-2" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
			<div id="textToastLite"  class="toast-body">
				...
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>

	</div>
</div>

<script>
	if (localStorage.getItem("toastMessage")) {
    var toastLite = document.getElementById('toastLite');
    var textToastLite = document.getElementById("textToastLite");
    textToastLite.textContent = localStorage.getItem("toastMessage");
    var toast = new bootstrap.Toast(toastLite);
    toast.show();
    // Після виведення toast, очистіть збережену інформацію
    localStorage.removeItem("toastMessage");
}
// Збережіть інформацію для виведення toast у localStorage

// Після перезавантаження сторінки toast буде виведено автоматично


</script>
<script src="{{url_for('static', filename='javascript/copyText.js')}}"></script>
<script src="{{url_for('static', filename='javascript/toast.js')}}"></script>
<script src="{{url_for('static', filename='javascript/toastLite.js')}}"></script>
<!-- Modal Notification-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p id="modalNotificationMessage">Тут</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
</div>

<!-- Modal Notification Slowly -->
  <!-- <div class="container-info text-center">
	<div id="notificationContainer" >
	<div id="notification">
	  <p id="modalMessageNotificationSlowly">Тут</p>
	</div>
  </div></div>
   -->

</html>
