{% extends 'cabinet_client/base.html' %} 
{% block body %} 
	<script>
    function confirmDelete(id) {
        // Викликаємо модальне вікно підтвердження
        if (confirm("Ви впевнені, що хочете видалити замовлення?")) {
            // Якщо користувач натиснув "OK", видалити елемент
            window.location.href = "/cabinet/orders/delete/" + id;
        } else {
            // Якщо користувач натиснув "Скасувати", нічого не робимо
            return false;
        } 
    }

    function deleteElement() { 
        // Видалення елементу
        // Наприклад, можна використати jQuery для цього: $('#elementId').remove();
    }
	</script>

    <script>
        document.querySelectorAll('.textToCopy').forEach(function(element) {
    		element.addEventListener('click', function() {
			var textToCopy = this.getAttribute('data-text');
			copyText(textToCopy);
			});
		});
    </script> 
	<div class="button-container">
		<nav class="nav">
				{% if 1 == user.id %} 
			<div class="button-pult">
				<button type="button" onclick="confirmDelete({{order.id}})" 
					class="btn btn-outline-info my-2 my-sm-0">
						Видалити Замовлення
				</button>
			</div>

			<div class="button-pult"><a href="/cabinet/orders/send_storage/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Провести на склад
				</button></a>
			</div>
			<div class="button-pult"><a href="/cabinet/orders/test/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Тест ордер
				</button></a>
			</div>
			{% endif %}
			<div class="button-pult"><a href="/cabinet/orders/return/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Повернення Замовлення
				</button></a>
			</div>
				
			<div class="button-pult"><a href="/cabinet/orders/dublicate/{{order.id}}">
					<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
						Дублювати Замовлення
					</button></a>
			</div>
			<div class="button-pult">
				<a href="/cabinet/orders/confirmed/{{order.id}}">
					<button 
						type="button" 
						class="col-sm btn btn-outline-info my-2 my-sm-0"
					>Підтвердити</button>
				</a>
			</div> 
			<div class="button-pult"><a href="#">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					<!-- Статус -->
					{{order.ordered_status.name}}
				</button></a>
			</div> 
			<div class="button-pult"><a href="#">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					<!-- Видалити дату відправкі -->
					
				</button></a>
			</div> 
		</nav>
	</div>
	{% include "cabinet_client/change_history_order.html" %}
	{% if admin %} 
		<div class="button-container">
			<nav class="nav">
				<div class="button-pult">
					<button 
						type="button" 
						value="Створити товар" 
						data-bs-toggle="modal" 
						data-bs-target="#historyModal"
						class="btn btn-outline-info my-2 my-sm-0" >
							Змінити Історію
					</button>
				</div>
			</nav>
		</div>
	{% else %}
    	
	{% endif %}
<div class="content">
		
		 
	
	
	<form 
			id="myForm" 
			action="/cabinet/orders/update/{{order.id}}" 
			method="post"
			style="margin-bottom: 200px;"
		>
		<div class="row"> 
			<div class="col-sm">
				<h3 style="text-align: center;" >Замовлення №<span 
						class="textToCopy" 
						data-text="{{order.order_code}}">{{order.order_code}} 
						<i class="fa-regular fa-copy"></i>
					</span></h3>
			</div>
		</div>
		 
 		<div class="row"> 
			<div class="col-sm"><p style="text-align: center;">
				<small class="text-muted">
					Створено:
				</small> {{order.timestamp.strftime('%H:%M %d-%m-%Y')}}</p>
			</div>
		</div> 
		<div class="row">
			<div class="col-sm">
				<footer><small class="text-muted">Телефон:</small></footer>
				<input type="tel" class="form-control" 
					name="phone" rows="1" 
					cols="50" 
					pattern="[0-9]{12}" 
					style="text-align: center;" 
					placeholder="*Номер телефону 380909009000" 
					value="{{order.phone}}" 
					required>
				<br>
			</div>
			<div class="col-sm">
				<footer><small class="text-muted">Призвіще:</small></footer>
				<input class="form-control" 
				style="text-align: center;" 
				name="client_lastname" 
				rows="1" cols="50" placeholder="* Призвіще" 
				value="{{order.client_lastname}}" id="client_lastname" 
				data-bs-container="body" 
				data-bs-toggle="popover" 
				data-bs-placement="top" 
				data-bs-content="Тут є латиниця">
				<br>
			</div>
			<div class="col-sm">
				<footer><small class="text-muted">Імʼя:</small></footer>
				<input class="form-control   " 
				style="text-align: center;" 
				name="client_firstname" 
				rows="1" cols="50" placeholder="* Ім'я" 
				value="{{order.client_firstname}}" 
				id="client_firstname" 
				data-bs-container="body" 
				data-bs-toggle="popover" 
				data-bs-placement="top" 
				data-bs-content="Тут є латиниця">
				<br>
			</div>
			<div class="col-sm"><footer><small class="text-muted">Побатькові:</small></footer><input class="form-control   " style="text-align: center;" 
				name="client_surname" rows="1" cols="50" 
				placeholder="Побатькові(необов.)" 
				value="{{order.client_surname}}">
				<br>
			</div>
			<div class="col-sm"><footer><small class="text-muted">Email:</small></footer>
				<input class="form-control   " style="text-align: center;" 
				name="email" rows="1" cols="50" 
				placeholder="email" 
				value="{{order.email}}">
				<br>
			</div>
					
		</div>
				
				
			<!-- Адресса поля -->
		<div id="AdressGeneral" class="grey-background"> 
			<div class="row AdsressOld" id="AdsressOld">
				<div class="center">
				<div class="row">
						<div class="col-sm">
							<footer><small class="text-muted">Місто:</small></footer>			
							<input class="form-control" 
								style="text-align: center;" 
								name="old_city" 
								rows="1" cols="50" 
								placeholder="Місто" 
								value="{% if order.city_name %} {{order.city_name}} {%else%} Адреси нема {%endif%}" 
								readonly><br>
						</div>
						<div class="col-sm">
							<footer><small class="text-muted">Адреса:</small></footer>
							<input class="form-control" 
								style="text-align: center;" 
								name="old_warehouse" 
								rows="1" cols="50" 
								placeholder="Відділення" 
								value="{{order.warehouse_text}}" 
								readonly><br>
							</div>
						<div class="col-sm">
							<footer><small class="text-muted">ТТН:</small></footer>	
							<input class="form-control" 
								style="text-align: center;" 
								name="ttn" rows="1" 
								cols="50" 
								placeholder="TTN" 
								value="{% if order.ttn %} {{order.ttn}}{%else%} ТТН нема {%endif%}" 
								readonly>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm">
						<input 
							type="button" 
							class="text-button"  
							value="Змінити 'Адресу доставки'" 
							id="ChangeAddress">
					</div>
					<div class="col-sm">
						<input class="form-control" 
							id="delivery_method_detail"
							style="text-align: center;" 
							name="delivery_method_detail" rows="1" 
							cols="50" 
							placeholder="Метод доставки"
							{% if order.payment_method.name %} 
							value="{{order.delivery_method.name}}" 
							{%else%}
							value="Спосіб доставкі не обрано" 
							{%endif%}
							readonly>
					</div>
				</div>
			</div>
		</div>
		<div id="paymentMethotGeneral" style="margin-bottom: 60px;">
			<div class="row" id="paymentMethotRow">
				<div class="col-sm-3 col-lg-4">
					<input 
						type="button" 
						class="text-button"  
						value="Змінити 'Спосіб оплати'" 
						id="ChangePaymentMethod">
				</div>
				<div class="col-sm">
					<input class="form-control" 
							style="text-align: center;" 
							name="payment_method_detail" rows="1" 
							cols="50" 
							placeholder="Спосіб облати"
							{% if order.payment_method.name %} 
							value="{{order.payment_method.name}}" 
							{%else%}
							value="Метод оплати не обрано" 
							{%endif%}
							readonly>
				</div>
			</div>
		</div>
			
						
		<div id="ProductOldItem" class="grey-background">
			
				{% for product in order.ordered_product %} 	
				<div class="row" id="product-container">
					<div class="row">
						<div class="col-sm col-lg-2 button-pult">
							<footer><small class="text-muted">Артікул:</small></footer>
							<input class="form-control   " 
							style="text-align: center;" 
							name="old_product_art" rows="1" 
							cols="50" placeholder="Товар"  
							value="{{product.products.article}}"  
							readonly>
						</div>
						<div class="col-sm col-lg-2 button-pult"> 
							<footer><small class="text-muted">Кількість:</small></footer>
							<input type="number" style="text-align: center;" 
								class="quantity form-control" id="quantity" 
								name="quantity"  min="1" max="10000" 
								value="{{product.quantity}}" 
								placeholder="* Кількість" required></div>
						<div class="col-sm-3 button-pult">
							<footer><small class="text-muted">Назва:</small></footer>
							<input class="form-control" 
							style="text-align: center;" 
							name="old_product_name" rows="1" 
							cols="50" placeholder="Назва Товару" 
							value="{{product.products.product_name}}" 
							readonly></div>
						<div class="col-sm col-lg-2 button-pult">
							<footer><small class="text-muted">Ціна:</small></footer>
							<input type="number" 
								style="text-align: center;" 
								class="price form-control" 
								id="price" name="price" 
								value="{{product.price}}" 
								min="1" placeholder="Ціна" required>
						</div>
						<!-- <div class="col-sm-1 button-pult" style="padding: 36px 0;">
							<button type="button" 
							class="text-button ChangeProductOldItem"  
							id="ChangeProductOldItem" 
							onclick="changeBlock(this)">Змінити</button>
						</div>
						<div class="col-sm-1 " >
							<button type="button" 
								class="removeButton text-button"
								onclick="deleteBlock(this)"
								>Видалити</button>
						</div> -->
						<div class="col-sm">
							<nav class="nav">
								<div class="button-col-sm">
									<button 
										type="button"
										class="ChangeProductOldItem btn btn-outline-info my-2 my-sm-0"   
										onclick="changeBlock(this)">
										Змінити
									</button>
								</div>
								<div class="button-col-sm">
									<button 
										type="button"
										class="removeButton btn btn-outline-info my-2 my-sm-0"   
										onclick="deleteBlock(this)">
										Видалити
									</button>								
								</div>
							</nav>
						</div>
							<input type="number" 
								style="text-align: center; display: none;" 
								class="total form-control" id="sum_price" 
								name="sum_price" min="1" 
								required>							
							<input type="number" 
								style="text-align: center; display: none;" 
								class="form-control" id="product" 
								name="product" min="1" 
								value="{{product.product_id}}"
								required>
					</div>
				</div>
				{% endfor %}
			
		</div>
		<div class="row">							
			<div class="center" style="width: 60%;">
					<input type="number" 
						style="text-align: center;" 
						class="totalall form-control" 
						id="total-all" 
						name="total-all" 
						min="1" 
						placeholder="Сумма" 
						required>
						<br>
				</div>
		</div>
	
		<div class="row">
			<div class="col-sm">					
			</div>
			<div class="col-sm">
				<!-- <input 
					type="button" 
					class="text-button"  
					value="Додати товар" 
					id="addButton"
					onclick="addProduct()"> -->
				<button 
					type="button"
					id="addButton"
					class="btn btn-outline-info my-2 my-sm-0"   
					onclick="addProduct()">
					Додати товар
				</button>
			</div>
			<div class="col-sm">
				<button 
					type="button"
					class="btn btn-outline-info my-2 my-sm-0"   
					data-bs-toggle="modal" 
					data-bs-target="#myModal">
					Створити товар
				</button>
			</div>
			<div class="col-sm">					
			</div>
		</div>
						
					
					<!-- <div class="col-sm">
						<input type="button" 
						class="text-button"  
						value="Змінити Товар в Замовленні" 
						id="ChangeProduct">
					</div> -->


		<div class="row">
			<footer><small class="text-muted">Нотаткі:</small></footer>
			<textarea 
				style="
					text-align: center;
					padding: 10px;
					width: 60%;
					" 
				class="form-control center" 
				name="description"  
				rows="3" 
				cols="50" 
				placeholder="Нотатки" >{{order.description}}</textarea>
		
		</div>
		<div class="row">
			<footer><small class="text-muted">Історія:</small></footer>
			<textarea 
				style=
					"
					text-align: center; 
					padding: 10px; 
					width: 60%;
					" 
				class="form-control center" 
				name="history"  
				rows="3" 
				cols="50" 
				placeholder="Історія" 
				>{{order.history}}</textarea>
		</div>
		<div class="row">
			<button 
				class="btn btn-outline-info my-2 my-sm-0 center" 
				style="width: 30%;" 
				onclick="submitForm()" 
				type="submit">Оновити Замовлення</button> </br>	
		</div>
	</form>
</div>
	<input type="hidden" 
		name="selectedItems" 
		id="selectedItems" 
		value="{{order.id}}">

	<!-- My Modal Add product -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="content text-center">
					<h1 style="text-align: center;">
						Створеня Товару
					</h1>
					<form id="dataForm">
						<textarea class="form-control " style="text-align: center;"  
						id="article" name="article" rows="1" cols="50" placeholder="* Артікул"></textarea><br>
						<div class="row">									
							<div class="col-sm "><textarea class="form-control" 
								style="text-align: center;" id="product_name" name="product_name" 
								rows="1" cols="50" placeholder="* Назва"></textarea><br></div>
						</div>
						<div class="row">
							<div class="col-sm "><input type="number" style="text-align: center;" 
								class="form-control" id="price_prod" name="price" 
								min="1" placeholder="Ціна" required><br></div>
						<div class="modal-footer" style="text-align: center;">
							<div class="col-sm ">
								<button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
										onclick="sendDataToServerW()" type="button">
										Додати Товар
								</button>
							</div>
							</div>
						</div>
					</form>
				</div>
			</div>	
	</div>
	</div>
</div>

	<script>
		document.getElementById('changeStatusSee').style.display = 'block';
		document.getElementById('add_reg').style.display = 'block';
		document.getElementById('del_reg').style.display = 'block';
	
	</script>
	<script src="{{url_for('static', filename='javascript/newCalculateTotal.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/sendDataToServerFile.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeProductOld.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeProductOldItem.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeAddressOld.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changePaymentMethod.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-select2.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/submitFormUpdateOrd.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-button-product.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/copyText.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/checkbox-item.js')}}"></script>


{% endblock %}