{% extends 'cabinet_client/base.html' %}

{% block head %}
<title>Редагування Замовлення</title>
{% endblock %}

{% block body %}
	<script>
    function confirmDelete(id) {
        // Викликаємо модальне вікно підтвердження
        if (confirm("Ви впевнені, що хочете видалити замовлення?")) {
            // Якщо користувач натиснув "OK", видалити елемент
            window.location.href = "/cabinet/orders/delete/" + id;
        } else {
            // Якщо користувач натиснув "Скасувати", нічого не робимо
            return false;
        }
    }

    function deleteElement() { 
        // Видалення елементу
        // Наприклад, можна використати jQuery для цього: $('#elementId').remove();
    }
	</script>

    <script>
        document.querySelectorAll('.textToCopy').forEach(function(element) {
    		element.addEventListener('click', function() {
			var textToCopy = this.getAttribute('data-text');
			copyText(textToCopy);
			});
		});
    </script> 
	<div class="button-container">
		<nav class="nav">
				{% if 1 == user.id %} 
			<div class="button-pult">
				<button type="button" onclick="confirmDelete({{order.id}})" 
					class="btn btn-outline-info my-2 my-sm-0">
						Видалити Замовлення
				</button>
			</div>

			<div class="button-pult"><a href="/cabinet/orders/send_storage/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Провести на склад
				</button></a>
			</div>
			<div class="button-pult"><a href="/cabinet/orders/test/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Тест ордер
				</button></a>
			</div>
			{% endif %}
			<div class="button-pult"><a href="/cabinet/orders/return/{{order.id}}">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					Повернення Замовлення
				</button></a>
			</div>
				
			<div class="button-pult"><a href="/cabinet/orders/dublicate/{{order.id}}">
					<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
						Дублювати Замовлення
					</button></a>
			</div>
			<div class="button-pult"><a href="/cabinet/orders/confirmed/{{order.id}}">
					<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
						<!-- Спосіб доставкі -->
						{{order.delivery_method.name}}
					</button></a>
			</div> 
			<div class="button-pult"><a href="#">
				<button type="button" class="col-sm btn btn-outline-info my-2 my-sm-0">
					<!-- Статус -->
					{{order.ordered_status.name}}
				</button></a>
			</div> 
		</nav>
	</div>
		
		<div class="row"> 
			<div class="col-sm"><h3 style="text-align: center;" > Замовлення №
				<span class="textToCopy" data-text="{{order.order_id_sources}}">{{order.order_id_sources}} 
					<i class="fa-regular fa-copy"></i>
				</span>  </h3><!-- Кнопка копіювання --></div>
		</div>
		
		<div class="row"> 
			<div class="col-sm"><p style="text-align: center;">
				<small class="text-muted">
					Створено:
				</small> {{order.timestamp.strftime('%H:%M %d-%m-%Y')}}</p>
			</div>
		</div>
		
	
	<div class="content">
		<form id="myForm" action="/cabinet/orders/update/{{order.id}}" method="post">
			<div class="row">
				<div class="col-sm"><input type="tel" class="form-control   " name="phone" rows="1" cols="50" pattern="[0-9]{12}" style="text-align: center;" placeholder="*Номер телефону 380909009000" value="{{order.phone}}" required><br></div>
				<div class="col-sm"><input class="form-control" style="text-align: center;" name="client_lastname" rows="1" cols="50" placeholder="* Призвіще" value="{{order.client_lastname}}" id="client_lastname" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control   " style="text-align: center;" name="client_firstname" rows="1" cols="50" placeholder="* Ім'я" value="{{order.client_firstname}}" id="client_firstname" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Тут є латиниця"><br></div>
				<div class="col-sm"><input class="form-control   " style="text-align: center;" name="client_surname" rows="1" cols="50" placeholder="Побатькові(необов.)" value=" "><br></div>
			</div>
        <div class="row"></div> 
		<!-- Адресса поля -->
			<div id="address_row">
				<div class="row AdsressOld" id="AdsressOld">					
					<div class="col-sm">
						<input class="form-control   " style="text-align: center;" name="old_city" rows="1" cols="50" placeholder="Місто" 
						value="{% if order.city_name %} {{order.city_name}} {%else%} Адреси нема {%endif%}" readonly><br></div>
					<div class="col-sm"><input class="form-control   " style="text-align: center;" name="old_warehouse" rows="1" cols="50" placeholder="Відділення" value="{{order.warehouse_text}}" readonly><br></div>
					<div class="col-sm"><input class="form-control   " style="text-align: center;" name="ttn" rows="1" cols="50" placeholder="TTN" 
						value="{% if order.ttn %} {{order.ttn}}{%else%} ТТН нема {%endif%}" readonly><br></div>
					<div class="col-sm"><input class="form-control   " style="text-align: center;" name="ttn" rows="1" cols="50" placeholder="Реєстр" 
						value="{% if order.delivery_order.number_registr %} {{order.delivery_order.number_registr}} {%else%} Реєстру нема {%endif%}" readonly><br></div>
				</div>
		<div class="col-sm"><input type="button" class="text-button"  value="Змінити Адресу доставки" id="ChangeAddress"></div></br>
		</div>
			<!-- <div class="row">
  				<legend></legend>
                <div class="col"><input class="form-check-input text-radio" type="radio" id="warehouse" name="warehouse_option" value="warehouse" onclick="toggleField()" ><label for="warehouse" class="form-check-label"> Відділення</label></div>
                <div class="col"><input type="radio" id="poshtomat " class="form-check-input text-radio" name="warehouse_option" value="poshtomat" onclick="toggleField()" /><label for="poshtomat" class="form-check-label"> Поштомат</label></div>
                <div class="col"><input type="radio" id="address" class="form-check-input text-radio" name="warehouse_option" value="address" onclick="toggleField()" /><label for="address" class="form-check-label"> Адреса</label></div>
			</div></br>
			
			<div class="row "> 
  				<legend></legend>
				<div class="col"><select id="citySelect" class="js-data-example-ajax    form-control" name="city"  required></select><br></div>
				<div id="hiddenFieldWar" style="display:block;" class="col"><select id="warhousSelect" class="form-control   " name="warehouse" rows="1" cols="50" placeholder="Відділення"></select><br></div>
				<div id="hiddenFieldPost" style="display:none;" class="col"><select id="postSelect" class="form-control   " name="warehouse" rows="1" cols="50" placeholder="Поштомат"></select><br></div>
				<div id="hiddenFieldAdr" style="display:none;" class="col"><textarea id="addressText" class="form-control   " name="warehouse" rows="1" cols="50" placeholder="* Адреса"></textarea><br></div>
			</div></br> -->
			<div class="row">
<!--  				<legend>Спосіб оплати:</legend>-->
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="nalogka" name="payment_option" value="1" {% if order.payment_method_id == 1 %}checked{% endif %} onclick="togglePaybefore()"/><label for="nalogka" class="form-check-label"> Післяплата</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="card_pay" name="payment_option" value="2"{% if order.payment_method_id == 2 %}checked{% endif %} onclick="togglePaybefore()"/><label for="card_pay" class="form-check-label"> Оплата на рахунок</label></div>
                <div class="col-sm"><input type="radio" class="form-check-input text-radio" id="peredpalata" name="payment_option" value="3" onclick="togglePaybefore()" {% if order.payment_method_id == 3 %}checked{% endif %}/><label for="peredpalata" id="labelPayBe" class="form-check-label" > Передплата</label></div>
				<div id="hiddenFieldPay" style="display:none;" class="col"><input type="number" style="text-align: center;" class="   form-control" id="sum_before_goods" name="sum_before_goods" min="1" placeholder="Сумма" value="{{ order.sum_before_goods }}" required><br></div>
                               
			</div>
			
					<div id="product_row">
						<!-- Товари в замовлені  -->
					<div class="row ProductOld" id="ProductOld">
						{% for product in order.ordered_product %} 	
						<div class="row">
						<div class="col-sm"><footer><small class="text-muted">Артікул:</small></footer><input class="form-control   " style="text-align: center;" name="old_product_art" rows="1" cols="50" placeholder="Товар" value="{{product.products.article}}" readonly><br></div>
						<div class="col-sm"><footer><small class="text-muted">Кількість:</small></footer><input class="form-control   " style="text-align: center;" name="old_product_quantity" rows="1" cols="50" placeholder="кількість" value="{{product.quantity}}" readonly><br></div>
						<div class="col-sm"><footer><small class="text-muted">Назва:</small></footer><input class="form-control   " style="text-align: center;" name="old_product_name" rows="1" cols="50" placeholder="Назва Товару" value="{{product.products.product_name}}" readonly><br></div>
						<div class="col-sm"><footer><small class="text-muted">Ціна:</small></footer><input class="form-control   " style="text-align: center;" name="old_product_price" rows="1" cols="50" placeholder="Сумма" value="{{product.price}}" readonly><br></div>
						</div>
						{% endfor %}
						<div class="row">
						<div class="col-sm"><footer><small class="text-muted">Сумма:</small></footer><input class="form-control   " style="text-align: center;" name="old_product_price" rows="1" cols="50" placeholder="Сумма" value="{{order.sum_price}}" readonly><br></div>
						</div>
					</div>
					
					<div class="col-sm"><input type="button" class="text-button"  value="Змінити Товар в Замовленні" id="ChangeProduct"></div>
					</div>
            <!-- <div id="product-container">
                <div class="row">
                    <div class="col"><select  class="form-control product-select" id="product-select" name="product" required></select><br></div>
                    <div class="col"><input type="number" style="text-align: center;" class="   form-control" id="quantity" name="quantity"  min="1" max="10000" placeholder="* Кількість" required><br></div>
					<div class="col"><input type="number" style="text-align: center;" class="   form-control" id="price" name="sum_price" min="1" placeholder="Сумма" required><br></div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><input type="button" class="text-button"  value="Додати товар" id="addButton"></div>
				<div class="col-sm"><input type="button" class="text-button"  value="Створити товар" data-bs-toggle="modal" data-bs-target="#myModal" ></div>
                <div class="col-sm"></div>
            </div><br> -->
			<textarea style="text-align: center;" class="   form-control" name="description"  rows="3" cols="50" placeholder="Нотатки" >{{order.description}}</textarea><br>
			<button class="btn btn-outline-info my-2 my-sm-0" onclick="submitForm()" type="submit">Оновити Замовлення</button> </br>	
			
		</form>
	</div>
	<input type="hidden" name="selectedItems" id="selectedItems" value="{{order.id}}">

	<!-- My Modal Add product -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="content text-center">
					<h1 style="text-align: center;">
						Створеня Товару
					</h1>
					<form id="dataForm">
						<textarea class="form-control " style="text-align: center;"  
						id="article" name="article" rows="1" cols="50" placeholder="* Артікул"></textarea><br>
						<div class="row">									
							<div class="col-sm "><textarea class="form-control" 
								style="text-align: center;" id="product_name" name="product_name" 
								rows="1" cols="50" placeholder="* Назва"></textarea><br></div>
						</div>
						<div class="row">
							<div class="col-sm "><input type="number" style="text-align: center;" 
								class="form-control" id="price_prod" name="price" 
								min="1" placeholder="Ціна" required><br></div>
						<div class="modal-footer" style="text-align: center;">
							<div class="col-sm ">
								<button id="submitBtn" class="btn btn-outline-info my-2 my-sm-0" 
										onclick="sendDataToServerW()" type="button">
										Додати Товар
								</button>
							</div>
							</div>
						</div>
					</form>
				</div>
			</div>	
	</div>
	</div>
</div>

	<script>
		document.getElementById('changeStatusSee').style.display = 'block';
		document.getElementById('add_reg').style.display = 'block';
		document.getElementById('del_reg').style.display = 'block';
	
	</script>
	<script src="{{url_for('static', filename='javascript/sendDataToServerFile.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeProductOld.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeAddressOld.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-select2.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/hiddenElement.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/submitFormUpdateOrd.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/add-button-product.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/changeStatus.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/copyText.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/checkbox-item.js')}}"></script>

{% endblock %}